@import './../variables';

.cart {
  max-width: 850px;
  padding: 0 0 50px;
  margin: 0 auto;
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
    @media (max-width: 487px) {
      flex-direction: column;
    }
    .content__title {
      display: flex;
      align-items: center;
      font-size: 2.8rem;
      margin-top: 0;
      margin-bottom: 0;
      svg {
        margin-right: 10px;
      }
    }
    .clear {
      display: flex;
      align-items: center;
      cursor: pointer;
      @media (max-width: 487px) {
        margin-top: 20px;
      }
      svg {
        margin-right: 5px;
      }
      span {
        color: $grey;
      }
      span,
      svg,
      path {
        transition: $duration ease-in-out;
      }
      &:hover {
        svg {
          path {
            stroke: darken($color: $grey, $amount: 50);
          }
        }
        span {
          color: darken($color: $grey, $amount: 50);
        }
      }
    }
  }
  .cart__bottom {
    padding: 30px 0;
    overflow: hidden;
    &_info,
    &_button {
      display: flex;
      justify-content: space-between;
    }
    &_info {
      margin: 15px 0 35px;
      @media (max-width: 487px) {
        flex-direction: column;
        align-items: center;
        span:first-child {
          margin-bottom: 10px;
        }
      }
      span > b {
        font-size: 1.8rem;
      }
    }
    &_button {
      @media (max-width: 487px) {
        flex-direction: column;
        align-items: center;
        & > button {
          order: 0;
          margin-bottom: 30px;
          max-width: 200px;
        }
        & > div {
          order: 1;
          max-width: 200px;
        }
      }
    }
  }
  &__empty {
    margin: 0 auto;
    max-width: 560px;
    text-align: center;
    .content__title {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2.8rem;
      svg {
        margin-right: 10px;
      }
    }
    p {
      font-size: 18px;
      line-height: 145.4%;
      letter-spacing: 0.01em;
      color: #777777;
    }

    i {
      font-style: normal;
      position: relative;
      top: 2px;
    }

    img {
      display: block;
      max-width: 300px;
      width: 100%;
      margin: 45px auto 60px;
    }
    .button--black {
      padding: 12px 0 14px;
      width: 230px;
      margin: 0 auto;
      font-weight: 600;
      font-size: 18px;
    }
  }
}
